.thisproductpage {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.thisproductdescription {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.thisproductcategory {
  margin-top: 0.5rem;
}

.thisproductdescriptiondata {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.thisproductotherdata {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.thisproductimage {
  width: 200px;
  height: 200px;
  margin: 1rem;
}
.thisproductimagecontainer {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
