@import url("https://droplet-ui.netlify.app/dropletcss.css");
* {
  margin: 0;
  padding: 0;
}

.navbar-main-ul-ua {
  text-decoration: none;
  color: white;
}
.inputs-alignment {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.cart-productname {
  color: black;
  text-decoration: none;
}
